#display_prop {
  width:90%;
  display: grid;
  grid-template-columns: 5fr 2fr;
  align-items: center;
}

#display_prop div {
  width:300px;
  height:300px;
}

#image_display {
  
}

#data_display {
  color: white;
  display: flex;
  flex-direction: column;
  list-style-type: square circle; 
}

#data_display li{
  display:block;
}

#map {
  height:600px;
  border:2px solid;
}