form {
  margin: 2em auto;
  /* margin-top: 2em; */
  min-width:400px;
  font: normal 30px 'Bitter', serif;
  width:50%;
  /* box-shadow: inset -8px 0px 0 #2A88AD; */
  box-sizing: content-box;
  border-bottom:2px solid transparent;
  background-color: #f6f6f8;
  padding-bottom:1em;
  border-radius: .5em;
 }
#form-header {
   background-color:#2A88AD;
  padding-top: 1em;
  color:#f6f6f8; 
  padding-bottom:1em;
  font-size:.7em;
  /* border-top-left-radius:10px; */
  border-radius: .5em .5em 0 0;
  margin-bottom:2em;
}
form ul{
  padding-bottom:1em;
}
form ul li {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content:center;
  align-content:center;
  margin:1em auto;
}
form ul li label{
 text-align: left;
 font-size: .5em;
 color:dimgrey;
 font-family: 'Open Sans', sans-serif;
 /* font-weight:lighters; */
}

form ul li label::after{
  content:'*';
  color:red;
}

#for_album::after{
  content:'';
}
form ul li input{
width:70%;
text-align:left;
border: 2px solid #fff;
box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.33);
}

button {
  background:#2A88AD;
  width: 10em;
  font-size: 0.6em;
  border-radius: .2em;
  height:1.4em;
  padding:0;
}

@media(max-width:1000px){
  form ul li {
    grid-template-columns: 1fr;
  }
}