
main {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  color:white;
  }
  .below_logo{
    margin-top:6em;
  }
  #first_animation{
    font-size:1.5em;
    }
  #second_animation{
    font-size:1.5em;
  }
  .display_board{
    height:1.5em;
    overflow: hidden;
    box-sizing:border-box;
  }
  .items{
    height:1.5em;
    color:#2A88AD;
    font-weight:bolder;
    position:relative;
    animation-name: first_slide;
    animation-duration:10s;
    animation-iteration-count:infinite;
  }
  #slider_wrapper{
    width:20em;
  }
  .reel{
    display:none;
  }
  @keyframes first_slide {
    0%{
      top: 0;
      }
    30%{
      top:0;
    }
    35%{
      top: -1.5em;
    }
    60%{
      top:-1.5em;
    }
    65%{
      top:-3em;
    }
    100%{
      top: -3em;
    }
  } 

  @media (max-width:900px){
    main{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #big_button{
      margin:2em auto;
    }
  }

  @media (max-width:700px){
    
  }
