html, body {
  
  height: 100vh;
  margin:0;
  width:100vw;
  
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  min-width: 330px;
  display:grid;
  grid-template-rows:auto auto 1fr auto;
  text-align: center;
  box-sizing:border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: rgba(0,0,0,.9);
  background-image:linear-gradient(0deg, rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url('../images/lithouse4.jpg');
  background-attachment: fixed, fixed;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  /* background: #f6f6f9; */
}
header {
  display: flex;
  justify-content: space-between;
  width:100%;
  border-bottom: 1px solid transparent;
  background:#ea477de6;
  background:linear-gradient(to top, #dd5783 15%, #de3c72 75%, #e33971 99%, #9c1341 100%);
  color: white;
  
  /* color: #f6f6f9; */
}
#logo {
  /* margin:1em auto; */
  font-size:1.3em;
  justify-self: center;
  align-self:center;
  font-weight:bolder;
  margin-left:2em;
}
#logo a{
  color:inherit;
}
#nav_links {
  display:flex;
  flex-direction: row;
  list-style:none;
  margin-right:5em;
}
#nav_links li a{
  color:inherit;
  cursor:pointer;
  font-weight:bold;
}
 li {
  justify-content:space-between;
  margin: auto 10px;
}
#motto {
   display: flex;
   border-top: 2px solid transparent;
   background: #f6f6f8;
   color:#2A88AD;
   font-weight: bolder;
  
}
#motto h4{
  justify-self: left;
  margin-left:5em;
}


a {
  text-decoration: none;

}

button {
 width:6em;
 height:2em;
 border-radius: 5px;
 border: 2px solid transparent;
 font-size: 1.5em;
 background-color:hsla(340,80%, 60%, 0.9);
 color:white;
 cursor:pointer;
}

button a:visited{
  color:white;
}

div p a{
  text-decoration: underline;
}
div p a:visited{
color:inherit;
}
button:hover{
  opacity: 0.9;
}

footer{
  font-size:.5em;
  margin-top:.5em;
}

#menu{
  display:none;
}

@media (max-width:900px){
  /* #logo{
    margin-left:auto;
  } */
  #motto h4{
    justify-self:center;
    margin:1.5em auto;
  }
  
  button{
    margin:1em auto;
  }
}

@media(max-width:700px){
#logo{
  margin-left:auto;
  font-size:1.5em;
}
  #menu{
    display:inline;
  }
  #nav_links{
    margin: 2em auto;
    flex-direction: column;
     position:relative;
     line-height: 1.8em;
  }
  .display{
  display:none;
  }
  
}
