input[type='search'] {
  margin-top:30px;
  width:16em;
  height: 1.5em;
}

#see_all {
  margin-top:40px;
}
#see_all p {
  font-size:1.5em;
  color:white;
}
#click_me {
  margin: 60px 0 auto;
}

#search_area label {
  background: #ffffff;
  height: 21px;
  color: dimgray;
  border:none;
}

#search_icon {
  fill: dimgray;
}

#search_button {
font-size:.7em;
padding:0px;
font-weight:bold;
}
#nav_links {
  font-size:.9em;
}
#display_property{
  display: none;
  grid-template-columns: 500px 500px;
  justify-content: center;
  padding: 2em;
  grid-row-gap: 3em;
}
.display_ad {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 3px;
}
.ad_details_ul{
  list-style-type: none;
  padding:0;
  color: white;
  text-align:left;
  line-height: 1.5;
}

.view_ad_buttons{
  width: 5em;
  font-size: .6em;
}

@media(max-width:1000px){
  #display_property{
    grid-template-columns: 500px;
  }
}